body {
    margin-top: 1em;
    background-color: #0f0f0f;
    color: white;
}
input {
    margin-top: 1em;
    margin-bottom: 1em;
}
.badge {
    margin-right: 0.5em;
}

.card img {
    aspect-ratio: 3/5;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.329);
}

.list-group-item .comment {
    width: 75%;
}

.list-group-item .btn {
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}
.book {
    cursor: pointer;
}
