body {
    margin-top: 1em;
    background-color: #0f0f0f;
    color: white;
}
input {
    margin-top: 1em;
    margin-bottom: 1em;
}
.badge {
    margin-right: 0.5em;
}

.card img {
    aspect-ratio: 3/5;
}
